Source: xapea00x-issuer
Section: admin
Priority: optional
Maintainer: David R. Bild <david.bild@xaptum.com>
Build-Depends: debhelper (>= 10), dkms
Standards-Version: 3.9.8
Homepage: https://github.com/xaptum/xapea00x

Package: xapea00x-issuer-dkms
Architecture: all
Depends: dkms, ${misc:Depends}
Recommends: tpm-tis-spi-dkms
Conflicts: xapea00x-dkms
Description: Kernel driver for the Xaptum ENF Access (xap-ea-00x) module
 The Xaptum ENF Access module is a Mini PCI-E card containing a TPM 2.0
 hardware secure element provisioned with credentials to access the
 Xaptum Edge Network Fabric, an IoT network solution.
 .
 This package includes a variant of the driver suitable for issuing new
 credentials to the TPM.
 .
 This package install the driver source files and configures DKMS
 to compile the driver for the currently running kernel.
